
<h1>Enter your details below:</h1>

<% if flash.has?(:message) %>
  <br></br>
  <%= flash[:message] %>
  <br></br>
<% end %>


<form method=POST action="/users/signup">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password_digest"></p>
  <p><button type="submit">Sign Up</button></p>
</form>
