<html>

<h1>Welcome to Sponatra!</h1>
<h3>Our spin on your favorite music...</h3>
<br>

  <h4>Please login to your Sponatra account:</h4>

  <a href="/users/login" class="login-button">Log In</a>


  <h4>Or create your new Sponatra account here!</h4>
  <a href="/users/signup" class="login-button">Sign Up</a>

</html>
