<h1>Add songs to your playlist:</h1>

<h2>Search For Songs:</h2>

<form method=POST action="/playlists">

  <p>Song Name: <input type="text" name="playlist[songs][]"></p>
  <p>Anotha one: <input type="text" name="playlist[songs][]"></p>
  <p>And... Anotha one: <input type="text" name="playlist[songs][]"></p>
  <p>And.. Anotha one: <input type="text" name="playlist[songs][]"></p>
  <p>U mad bro?: <input type="text" name="playlist[songs][]"></p>

  <p><button type="submit">Create!</button></p>
</form>
